# Numpy & Pandas

In [37]:
import numpy as np
import pandas as pd

In [38]:
# evenly spaced array
arr = np.linspace(0.0,10.0, num=20)
arr

# Reason for uneven numbers is because 10 is inclusive. maybe

array([ 0.        ,  0.52631579,  1.05263158,  1.57894737,  2.10526316,
        2.63157895,  3.15789474,  3.68421053,  4.21052632,  4.73684211,
        5.26315789,  5.78947368,  6.31578947,  6.84210526,  7.36842105,
        7.89473684,  8.42105263,  8.94736842,  9.47368421, 10.        ])

In [39]:
data = pd.DataFrame(np.random.randint(0, 100, (100,5)))
data.head()

    0   1   2   3   4
0  32  79  38  56  53
1  13  84  47  58  59
2  16  70  34  57  22
3  58   6  77   1  40
4  84  11  21  36  23

In [40]:
# loading data to csv format
data.to_csv('randomdata.csv')

In [41]:
# mean of each column
data.agg("mean")

0    54.99
1    49.14
2    52.23
3    50.76
4    47.12
dtype: float64

In [42]:
# filter rows from each column wich has value greater than 50
# of column 0
data[data[0] > 50]

     0   1   2   3   4
3   58   6  77   1  40
4   84  11  21  36  23
5   71  92  76  74  42
6   86  30  18  26  88
7   54  48  12  60  48
10  80  97  38  10  59
11  65  92  45  78  14
12  78  17  94  50  14
14  78  45  39  78  79
15  52  31  50  88  74
16  97  68  79  80  98
18  78  78   8  34  63
19  71  26  13  68  64
21  51  17  88  52  27
22  78  32  33  66  68
24  79  75  96  29   2
25  68  56  69  40  63
26  76   8  56  65  35
28  86  38  59  41  32
30  53  16  88  24  20
31  76  54  49  94  49
33  98  50  91   6  99
34  93  22  50  90  10
35  97  38  48  95  26
36  88  59  84  34  36
39  72  66  61  69  86
45  52  69  53  60  49
46  88  35  99  30  13
47  74   8  68  74  62
49  94  26  62  74  38
50  89  27  13  26  81
51  90  83  98  93  29
52  94  51  50  98  46
54  72  26  69  75  57
55  67  17  63  14  88
58  60  99  14  83  44
59  63  91   1  58  20
60  90  69  62   9  95
62  57  82  33  60  71
63  91  77  10  51  96
67  65  71  80  63   7
72  84  53  18  12  26
73  96  87  60  88  90
75  61  30  12  41  13
79  87  35  33  85  20
80  62  90  21   4  72
81  65  30  39   2  86
82  61  16  16  90  25
84  57  80  26  96  61
85  52  69  18  22  40
86  84  39  59  10  27
87  91  83  48  70   0
88  89  61  81   6   4
89  53  63  72  53  26
93  90  50  58  60  77
96  62  15  85  55  74
97  51  60  27  17  84
99  56  15  22  28  15

In [43]:
# concatenate dataframe horizontally
df1 = pd.DataFrame(np.random.randint(0, 100, (100,5)))
df2 = pd.DataFrame(np.random.randint(0, 100, (100,10)))

df = pd.concat([df1, df2], axis=1)
df.head()

    0   1   2   3   4   0   1   2   3   4   5   6   7   8   9
0  35  36  94  99  37  19  37  97  47  35  98   1  31  30  87
1  56  93  79  95   7  14  61  27  38  29  52   6  16  57  82
2  48  95  48  21  89  69  42  52  30  52   8  95  82  82  99
3   0  79  64  56  67  29  29  47  96  18  25  67   9   0  26
4  81  27  57   4  23   7  71  10   2  49  58  14  88  52  23

In [46]:
# add new column sum which has sum of all the columns
df['sum'] = df.sum(axis=1)

In [47]:
df.head()

    0   1   2   3   4   0   1   2   3   4   5   6   7   8   9   sum
0  35  36  94  99  37  19  37  97  47  35  98   1  31  30  87  1047
1  56  93  79  95   7  14  61  27  38  29  52   6  16  57  82   972
2  48  95  48  21  89  69  42  52  30  52   8  95  82  82  99  1149
3   0  79  64  56  67  29  29  47  96  18  25  67   9   0  26   831
4  81  27  57   4  23   7  71  10   2  49  58  14  88  52  23   731